@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


*{

    font-family: 'Roboto', sans-serif;
}

:root{
--primarry-color:#f3e5e5;
---secondary-color:#fd646f;



}

.navbar-brand{

color:  #0f0f0f;
font-weight: 600;
font-size: 45px;
line-height: 53px;



}

.navbar-brand span{
    
color: var(---secondary-color);


}




.navbar{



    background: rgba(255, 144, 14, 0.1);
}

nav{

background:rgba(255, 144, 14, 0.1)
;
}



.nav-link{

    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-transform: capitalize;
    padding-left: 35px !important;
padding-right: 35px !important;
}

.nav-link:hover{

    color: var(---secondary-color);
   
}

header{

    background: rgba(255, 144, 14, 0.1);
padding: 110px 0 50px;


}

h1{

font-weight: 700;
font-size: 64px;
line-height: 75px;
display: block;
color:  #301616;
}

h1 strong{

color: var(---secondary-color);
font-weight: 600;
}
p{

font-weight: 400;
font-size: 16px;
line-height: 26px;
color:  #301616;
}



.btn-custom{

    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #ffff;
    background:var(---secondary-color);
    border-radius: 8px;
    padding: 20px 25px;
}

.btn-custom:hover{

color: #ffff;
background: #301616;

}

.featuresSecton{



    padding: 85px 0;
}

h2{

    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    

    
    color: #727272;

}

h2 b{

font-weight: 700;
color: #0a0a0a;

}

h2 strong{

font-weight: 700;


color: var(---secondary-color);

}
.block{


    background: #fd646f;
    border-radius: 8px;
    text-align: center;
    color: #FFFFFF;
    max-width: 280px;
    padding: 45px 10px 35px;
    transform: translate(-100px, -100px);
}

.block h3{

    font-weight: 700;
    font-size: 45px;
    line-height: 25px;
    
 
    
  
}
.block span{



    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    
 
    
    

}

.featuresSection2{

padding: 100px 0;

}
.featuresSection2 h2{

    font-weight: 700;
    font-size:45px;
    line-height: 53px;
    
color: #0a0a0a;
    
    max-width: 400px;
    border-left: 10px solid #FD646F;
    padding-left: 10px;


    

}
.card-title{


    font-weight: 600;
font-size: 20px;
line-height: 23px;
color: #0c0c0c;

}

.card-body{

    padding: 30px;
    
    
    }


.card {

    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.header{
max-width: 550px;
text-align: center;
margin:  0 auto 80px;

}

.header h2{
    font-style: normal;
    font-weight: 700;
font-size: 45px;
line-height: 53px;
color:  #301616;

}
.header p{



}
.fact{



        border: 1px solid #FD646F;
        border-radius: 8px;
        padding: 45px 40px 60px;
        text-align: center;

    }

.factSection{

padding-bottom: 80px;

    }
.fact img{
    margin-bottom: 10px;

    }

.fact h3{

    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    
    text-align: center;
    
    color: #252222;
    

}
.fact span{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
  color: #301616;
    
}
.grayscale img{

   filter: grayscale(0.3);


}


footer{


margin-bottom: 100px;
margin-left: 100px;
margin-right: 100px;

}

footer p{

padding: 30px 10px;
text-align: center;
background-color: #FD646F;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color:  #301616;
border-radius: 8px;


}